body{
  background-color: black;
  position: fixed;
  overflow-x:scroll;
  overflow-y: hidden;
}

#main-content {
  height: 98vh;
  display:flex;
  align-items:center;
  flex-wrap:nowrap;
}
 
.img {
  position: fixed;
  height:100vh;
  align-items:center;
}