@charset "UTF-8";
@font-face {font-family: 'Satoshi-Bold';src: url('../fonts/satoshi/fonts/Satoshi-Bold.woff2') format('woff2'), url('../fonts/satoshi/fonts/Satoshi-Bold.woff') format('woff'), url('../fonts/satoshi/fonts/Satoshi-Bold.ttf') format('truetype');font-weight: 700; font-display: swap; font-style: normal;}
@font-face {font-family: 'Satoshi-Medium';src: url('../fonts/satoshi/fonts/fonts/Satoshi-Medium.woff2') format('woff2'),url('../fonts/satoshi/fonts/fonts/Satoshi-Medium.woff') format('woff'),url('../fonts/satoshi/fonts/fonts/Satoshi-Medium.ttf') format('truetype');font-weight: 500;font-display: swap;font-style: normal;}
@font-face {    font-family: 'Satoshi-Regular';    src: url('../fonts/satoshi/fonts/fonts/Satoshi-Regular.woff2') format('woff2'), url('../fonts/satoshi/fonts/fonts/Satoshi-Regular.woff') format('woff'), url('../fonts/satoshi/fonts/fonts/Satoshi-Regular.ttf') format('truetype'); font-weight: 400; font-display: swap; font-style: normal;}
@font-face {font-family: 'Satoshi-Light';src: url('../fonts/satoshi/fonts/fonts/Satoshi-Light.woff2') format('woff2'),url('../fonts/satoshi/fonts/fonts/Satoshi-Light.woff') format('woff'),url('../fonts/satoshi/fonts/fonts/Satoshi-Light.ttf') forma('truetype');font-weight: 300;font-display: swap;font-style: normal;}

:root {
    --branco: #F9EBE0;
    --preto: #13171C;
    --primary: #3823A3;
    --secondary: #4FDEA9;

    --fonttitle: 96px 'Satoshi-Bold', sans-serif;
    --fonth2: 48px 'Satoshi-Bold', sans-serif;
    --fonth3: 24px 'Satoshi-Bold', sans-serif;
    --fonth4: 20px 'Satoshi-Medium', sans-serif;
    --fontp: 16px 'Satoshi-Regular', sans-serif;
    --fontsmall: 14px 'Satoshi-Light', sans-serif;
}

* {    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(124, 124, 124, 0.418);
    border-radius: 10px;
}
body {
    width: 100vw;
    background-color: var(--preto);
    overflow-x: hidden;
}

h1 {
    font: var(--fonttitle);
    color: var(--branco);
}

h4 {
    font: var(--fonth4);
    color: var(--branco);
}


p {
    font: var(--fontp);
    color: var(--branco);
}

header {
    height: 84px;
    width: 1240px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

header p{font-family: 'Satoshi-Bold', sans-serif;}

header .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header #logo{
    margin-right: 20px;
}

a{
    font: var(--fontp);   
    color: var(--branco);
    text-decoration: none;
    align-items: center;
}

menu, ul{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}

menu{
    margin-right: 0;
    margin-left: auto;
}

#button{
    background-color: var(--primary);
    padding: 0 15px;
    border-radius: 25px;
    height: 40px;
    display: flex;
    align-items: center;
}

#language{ display: flex;}
#icon-language{ margin-right: 8px;}

li{    /* padding entre links / sem bolinha*/
    margin: 0 16px;
    list-style: none;
}


li:hover{
    cursor: pointer;
}

#ola{
    color: var(--secondary);
}









main{
    height: 500px;
    width: 1240px;
    display: flex;
    margin: auto;
}

footer{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    
}
#footer_content{
    width: 1240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#footer_logo{
    width: fit-content;
    position: relative;
    translate: 50%;
}
#footer-of-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    }




@media screen and (min-width: 680px) and (max-width: 1240px) {
    header {
        width: 100%;
        padding: 0 15px 0 15px;
    }

}

@media screen and (min-width: 380px) and (max-width: 650px) {
        ul{
            display: none;
        }
    }