@charset "UTF-8";
@font-face {font-family: 'Satoshi-Bold';src: url('../fonts/satoshi/fonts/Satoshi-Bold.woff2') format('woff2'), url('../fonts/satoshi/fonts/Satoshi-Bold.woff') format('woff'), url('../fonts/satoshi/fonts/Satoshi-Bold.ttf') format('truetype');font-weight: 700; font-display: swap; font-style: normal;}
@font-face {font-family: 'Satoshi-Medium';src: url('../fonts/satoshi/fonts/fonts/Satoshi-Medium.woff2') format('woff2'),url('../fonts/satoshi/fonts/fonts/Satoshi-Medium.woff') format('woff'),url('../fonts/satoshi/fonts/fonts/Satoshi-Medium.ttf') format('truetype');font-weight: 500;font-display: swap;font-style: normal;}
@font-face {    font-family: 'Satoshi-Regular';    src: url('../fonts/satoshi/fonts/fonts/Satoshi-Regular.woff2') format('woff2'), url('../fonts/satoshi/fonts/fonts/Satoshi-Regular.woff') format('woff'), url('../fonts/satoshi/fonts/fonts/Satoshi-Regular.ttf') format('truetype'); font-weight: 400; font-display: swap; font-style: normal;}
@font-face {font-family: 'Satoshi-Light';src: url('../fonts/satoshi/fonts/fonts/Satoshi-Light.woff2') format('woff2'),url('../fonts/satoshi/fonts/fonts/Satoshi-Light.woff') format('woff'),url('../fonts/satoshi/fonts/fonts/Satoshi-Light.ttf') forma('truetype');font-weight: 300;font-display: swap;font-style: normal;}

:root {
    --branco: #F9EBE0;
    --preto: #13171C;
    --primary: #3823A3;
    --secondary: #4FDEA9;

    --fonttitle: 96px 'Satoshi-Bold', sans-serif;
    --fonth2: 48px 'Satoshi-Bold', sans-serif;
    --fonth3: 24px 'Satoshi-Bold', sans-serif;
    --fonth4: 20px 'Satoshi-Medium', sans-serif;
    --fontp: 16px 'Satoshi-Regular', sans-serif;
    --fontsmall: 14px 'Satoshi-Light', sans-serif;
}

* {    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: var(--preto);
}

h1 {
    font: var(--fonttitle);
    color: var(--branco);
}

h4 {
    font: var(--fonth4);
    color: var(--branco);
}


p {
    font: var(--fontp);
    color: var(--branco);
}

header {
    height: 84px;
    width: 100%;
    background: #05001d;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header p{font-family: 'Satoshi-Bold', sans-serif;}

header .logo{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header #logo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

a{
    font: var(--fontp);   
    color: var(--branco);
    text-decoration: none;
    align-items: center;
}

menu, ul{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}

#button{
    background-color: var(--primary);
    border-radius: 25px;
    height: 40px;
    display: flex;
    align-items: center;
}

li{    /* padding entre links / sem bolinha*/
    padding: 0 20px;
    list-style: none;
}


li:hover{
    cursor: pointer;
}



/*header > .menu > ul{
    display: flex;
    height: 80px;
}

header > .menu > ul > li{
    padding: 0 10px;
    list-style: none;
}*/

#ola{
    color: var(--secondary);
}






















#menuImg{
    height: 50px;
    width: 50px;
    position: relative;
}

main{
    height: 1500px;
}

h1, h2{
    color: var(--corprincipal);
}

footer > p{
    text-align: center;
}