@charset "UTF-8";
/*#region ==============fonts=================*/
@font-face {font-family: 'Satoshi-Bold';src: url('../fonts/satoshi/fonts/Satoshi-Bold.woff2') format('woff2'), url('../fonts/satoshi/fonts/Satoshi-Bold.woff') format('woff'), url('../fonts/satoshi/fonts/Satoshi-Bold.ttf') format('truetype');font-weight: 700; font-display: swap; font-style: normal;}
@font-face {font-family: 'Satoshi-Medium';src: url('../fonts/satoshi/fonts/fonts/Satoshi-Medium.woff2') format('woff2'),url('../fonts/satoshi/fonts/fonts/Satoshi-Medium.woff') format('woff'),url('../fonts/satoshi/fonts/fonts/Satoshi-Medium.ttf') format('truetype');font-weight: 500;font-display: swap;font-style: normal;}
@font-face {    font-family: 'Satoshi-Regular';    src: url('../fonts/satoshi/fonts/fonts/Satoshi-Regular.woff2') format('woff2'), url('../fonts/satoshi/fonts/fonts/Satoshi-Regular.woff') format('woff'), url('../fonts/satoshi/fonts/fonts/Satoshi-Regular.ttf') format('truetype'); font-weight: 400; font-display: swap; font-style: normal;}
@font-face {font-family: 'Satoshi-Light';src: url('../fonts/satoshi/fonts/fonts/Satoshi-Light.woff2') format('woff2'),url('../fonts/satoshi/fonts/fonts/Satoshi-Light.woff') format('woff'),url('../fonts/satoshi/fonts/fonts/Satoshi-Light.ttf') forma('truetype');font-weight: 300;font-display: swap;font-style: normal;}
 /*#endregion*/

/*#region ============components==============*/
:root {
    --branco: #F9EBE0;
    --preto: #13171C;
    --primary: #3823A3;
    --secondary: #4FDEA9;

    --fonttitle: 96px 'Satoshi-Bold', sans-serif;
    --fonth2: 48px 'Satoshi-Bold', sans-serif;
    --fonth3: 24px 'Satoshi-Bold', sans-serif;
    --fonth4: 20px 'Satoshi-Medium', sans-serif;
    --fontp: 16px 'Satoshi-Regular', sans-serif;
    --fontsmall: 14px 'Satoshi-Light', sans-serif;
}

* {    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(124, 124, 124, 0.418);
    border-radius: 10px;
}
::selection{
    background-color: var(--secondary);
    mix-blend-mode: difference;}
body{
    width: 100vw;
    background-color: var(--preto);
    overflow-x: hidden;

}

.cursor-dot{
    height: 24px;
    width: 24px;
    border: 3px solid var(--branco);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.1s ease-out;
}

.cursor-link{
    background: var(--branco);
    width: 54px;
    height: 54px;
    mix-blend-mode: difference;
}

.cursor-click{
    width: 16px;
    height: 16px;
}

.hide {
    display: none !important;
  } 

h1 {
    font: var(--fonttitle);
    color: var(--branco);
}

h2 {
    font: var(--fonth2);
    color: var(--branco);
}

h4 {
    font: var(--fonth4);
    color: var(--branco);
}

h4 {
    font: var(--fonth4);
    color: var(--branco);
}


p {
    font: var(--fontp);
    color: var(--branco);
}
a{
    font: var(--fontp);   
    color: var(--branco);
    text-decoration: none;
    align-items: center;
}

li{    /* padding entre links / sem bolinha*/
    margin: 0 16px;
    list-style: none;
}

li:hover{
    cursor: pointer;
}

.button{
    background-color: var(--primary);
    padding: 0 15px;
    border-radius: 25px;
    height: 40px;
    display: flex;
    align-items: center;
}
.button:hover,
button a:hover{
    background-color: var(--branco);
    border-radius: 25px;
    height: 40px;
    display: flex;
    align-items: center;
}
 /*#endregion*/

 main{
    height: 500px;
    width: 1240px;
    display: flex;
    margin: auto;}

/*#region ==============header================*/
header {
    height: 84px;
    width: 1216px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

header p, footer p{font-family: 'Satoshi-Bold', sans-serif;}

header .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header #logo{
    margin-right: 20px;
}

menu, ul{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}

menu{
    margin-right: 0;
    margin-left: auto;
}

menu li{
    padding: 10px;
}

#language{ display: flex;}
#icon-language{ margin-right: 8px;}
#green-high{color: var(--secondary);}
 /*#endregion*/






/*#region ===============home=============*/
#home{
    margin: 0 auto;
    height: 100vh;
    border: solid #ffffff10  0.2px;
}


#video{
    box-shadow: 0px 0px 96px 0px rgba(44,199,160,0.62);
}
 /*#endregion*/
 

















/*#region ==============footer=================*/
footer{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#footer_content{
    width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer_logo{
    width: fit-content;
    margin: 0 0 auto 0;
}
#footer-of-footer{
    max-width: 1240px;
    display: flex;
    align-items: center;
    padding: 16px 0;
   }
#menuFooter{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    margin: 16px;}
    #menuFooter p {
        padding: 0 8px;
    }
.footer_social_stroke{
    width: 24px;
    transition: all 0.5s ease 0s;
    stroke: #ffffff25;
}
.footer_social_fill{
    width: 24px;
    transition: all 0.5s ease 0s;
    fill: #ffffff25;
}
.footer_social_fill:hover{
    fill: #ffffffc4;
}
.footer_social_stroke:hover{
    stroke: #ffffffc4;
}
 /*#endregion*/

 /*#region ===========media-query===========*/
@media screen and (min-width: 680px) and (max-width: 1240px) {
    header {
        width: 100%;
        padding: 0 15px 0 15px;
    }

}

@media screen and (min-width: 380px) and (max-width: 650px) {
        ul.menu_list{
            display: none;
        }
    }
 /*#endregion*/