/* acentuação tranquila */ @charset "UTF-8";

/* to-do list
cores
embedar fontes
*/

:root {
    --corprincipal: #ffffff;
    --corsecundaria: #000000;
    --standardfont: fonte1, fonte2, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--corsecundaria);
}

nav{
    height: 100px;
    width: 100%;
    background-color: var(--corprincipal);
    align-items: center;
}

#logo{
    height: 50px;
    width: 50px;
}

#menuImg{
    height: 50px;
    width: 50px;
    position: relative;
    left: 90%;

}

img{
    /* responsividade */
    width: 100%;
}

#navegacao {
    display: none;
}
